{% extends "app/layout.html" %}
{% block content %}

     {{availsearch}}
 
<form action="" method="POST" id="form_availsearch">
      {% csrf_token %} 
      <h2&>Availibility search</h2> 
     <p>
         <input type="text" name="Origin" id="inputOrigin" 
            placeholder="From" required autofocus> 
      </p>
      <p>
         <input type="text" name="Destination" id="inputDestination" 
            placeholder="To" required>
      </p> 
      <p> 
         <input type="date" name="Departuredate" id="idDeparturedate" required> 
          Departure Date
      </p> 

      <details>
        <summary>Search Filter</summary> {#Nonstop noch einfügen mit max numbers of connections#}
          <div style="float: left">
            Travel Class
            <p>                    
                <input type="checkbox" name="Economy" id="economy"> 
                Economy
            </p>

            <p>                    
                <input type="checkbox" name="PremEconomy" id="premEconomy"> 
                Premium Economy
            </p>

            <p>                    
                <input type="checkbox" name="Buisness" id="buisness"> 
                Buisness
            </p>

            <p>                    
                <input type="checkbox" name="First" id="first"> 
                First
            </p>
          </div>
        <p>                    
            <input type="text" name="IncludeAirlines" id="includeAir"> 
            Include Airlines
        </p>
        <p>                    
            <input type="text" name="ExcludeAirlines" id="excludeAir"> 
            Exclude Airlines
        </p>
        <p>                    
            <input type="text" name="IncludedConnectionPoints" id="includedConnectionPoints"> 
            via
        </p>
        <p>                    
            <input type="text" name="ExcludedConnectionPoints" id="excludedConnectionPoints"> 
            not via
        </p>
        <p> 
            <input type="number" name="MaxStops" id="maxStops"> 
             Max. Stops
          </p> 
      </details>
      <br/>

      <input type="Submit" name="Submit" value="Submit" />
   </form>

    {% for flight in flights %}
            <h4>{{forloop.counter}}.</h4>
            <table class="results">
                
                {% for segment in flight %}
                    <tr>
                        <td>
                         {{segment}}
                        </td>
                    </tr>
                {% endfor %}
                                          
            </table>  
            <br />
     {% endfor %}

{% endblock %}