{% extends "app/layout.html" %}
{% block content %}

     {{flightsearch}} 
<form action="" method="POST" id="form_offersearch">
      {% csrf_token %} 
      <h1>On-Demand Flight Status</h1> 
    <div>
          <p>
             <input type="text" name="Flightnumber" id="flightNumber" 
                placeholder="Flight Number" required>
          </p> 
          <p> 
             <input type="date" name="ScheduledDepartureDate" id="scheduledDepartureDate" required> 
              Scheduled Departure Date
          </p> 
                              
        <input type="Submit" name="Submit" value="Submit"/>
    </div>
   </form>

<br/><br/><br/>
{#travelpoints trennen in flight status#}
        {% for flight in flights %}
            <h4>Flight: {{forloop.counter}}</h4>
            <table class="results">
                <tr>
                    {% for key in flight.keys %}
                    <th>{{key}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for value in flight.values %}
                        <td><table>{{value}}</table></td>                         
                    {% endfor %}
                </tr>
                           
            </table>  
            <br /><br /><br />
        {% endfor %}

{% endblock %}