{% extends "app/layout.html" %}
{% block content %}


<form action="" method="POST" id="form_offersearch">
      {% csrf_token %} 
      <h1>Offer search</h1> 
    <div>
     <p>
             <input type="text" name="Origin" id="inputOrigin" 
                placeholder="From" required autofocus> 
          </p>
          <p>
             <input type="text" name="Destination" id="inputDestination" 
                placeholder="To" required>
          </p> 
          <p> 
             <input type="date" name="Departuredate" id="idDeparturedate" required> 
              Departure Date
          </p> 
          <p> 
             <input type="date" name="Returndate" id="idReturnedate" required> 
              Return Date
          </p> 
          <p> 
             <input type="number" name="Amount_adults" id="idAdultamount" required> 
              Pax
          </p> 
          <p> 
             <select id="idClass" name="Class" required>
                 <option value="">Select your Travel Class</option>
                 <option value="ECONOMY" >Economy</option>
                 <option value="PREMIUM_ECONOMY" >Premium Economy</option>
                 <option value="BUSINESS" >Buissnes</option>
                 <option value="FIRST" >First</option>
             </select>          
          </p>
          
            <details>
                <summary>Search Filter</summary>
                <p>                    
                    <input type="checkbox" name="NonStopp" id="checkboxNonStopp"> 
                    Non-Stop
                </p>
                <p>                    
                    <input type="text" name="IncludeAirlines" id="includeAir"> 
                    Include Airlines
                </p>
                <p>                    
                    <input type="text" name="ExcludeAirlines" id="excludeAir"> 
                    Exclude Airlines
                </p>
            </details>
        <br/>
        <input type="Submit" name="Submit" value="Submit"/>
    </div>
   </form>
  {# Frontend designer nutzen BSP: Storybook  #}
        {% for offer in offers %}
            <h4>Offernumber: {{forloop.counter}}</h4>
            <table class="results">
                <tr>
                    {% for key in offer.keys %}
                    <th>{{key}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for value in offer.values %}
                        <td><table>{{value}}</table></td>                         
                    {% endfor %}
                </tr>
                           
            </table>  
            <br /><br /><br />
        {% endfor %}

    <script language="javascript" type="text/javascript">
    <!--
    function popitup(url) {
        newwindow=window.open(url,'{{title}}','height=200,width=150');
        if (window.focus) {newwindow.focus()}
        return false;
    }

    // -->
    </script>

    <a href="seatmap.html" onclick="return popitup('/seatmap')">Link to seatmap</a>

{% endblock %}