{% extends "app/layout.html" %}
{% block content %}
<br />
    {#Form to check which seatmap should be shown#}
    <h3>Which seatmaps should be shown? (Sorted chronological by departure time) </h3>
    Only one can be selected. Not every flight provides a Seatmap!
<br />
    <form action="" method="POST" id="select seatmap">
        {% csrf_token %} 
        
        {% for seatmap in seatmapdata %}
            Seatmap {{forloop.counter}}
            <input type="checkbox" name="{{forloop.counter}}" />
        {% endfor %}
        <input type="Submit" name="Submit" value="Submit"/>
    </form>

    {#Visalization of the plane containing the plane grid#}
    <div class="plane" >
      <div class="cockpit">
        <h1>Seatmap Display</h1>
      </div>
      <div class="fuselage"></div>
           
          <div class="planegrid" style="width: {{width}}">
              {% for seat in seats %}

                   <div class="seat" style="grid-row: {{ seat.row }} ; grid-column: {{ seat.col }}  ">
                      <input type="checkbox" id="{{seat.number}}" />
                      <label for="{{seat.number}}">{{seat.number}}</label>
                   </div> 
               {% endfor %}
              {% for seat in blockedseats %}

                   <div class="seat" style="grid-row: {{ seat.row }} ; grid-column: {{ seat.col }}  ">
                      <input type="checkbox" disabled id="{{seat.number}}" />
                      <label disabled for="{{seat.number}}">{{seat.number}}</label>
                   </div> 
               {% endfor %}

              {% for facility in facilities %}
                   <div class="facility" style="grid-row: {{ facility.row }} ; grid-column: {{ facility.col }}  ">
                      <label  for="{{facility.code}}">{{facility.code}}</label>
                   </div> 
               {% endfor %}            
          </div>
        <div class="fuselage"></div>
        {%if twodecks%}
            <div class="fuselage"></div>
                <div class="planegrid" style="width: {{width}}">
                      {% for seat in seats %}
                           <div class="seat" style="grid-row: {{ seatupper.row }} ; grid-column: {{ seatupper.col }}  ">
                              <input type="checkbox" id="{{seatupper.number}}" />
                              <label for="{{seatupper.number}}">{{seatupper.number}}</label>
                           </div> 
                       {% endfor %}
                      {% for seat in blockedseats %}

                           <div class="seat" style="grid-row: {{ seatupper.row }} ; grid-column: {{ seatupper.col }}  ">
                              <input type="checkbox" disabled id="{{seatupper.number}}" />
                              <label disabled for="{{seatupper.number}}">{{seatupper.number}}</label>
                           </div> 
                       {% endfor %}

                      {% for facility in facilities %}
                           <div class="facility" style="grid-row: {{ facilityupper.row }} ; grid-column: {{ facilityupper.col }}  ">
                              <label  for="{{facilityupper.code}}">{{facilityupper.code}}</label>
                           </div> 
                       {% endfor %}            
                  </div>
             <div class="fuselage"></div>
        {%endif%}
         
    
{% endblock %}